appdirs==1.4.4
beautifulsoup4
Bottleneck
Brotli
certifi
cffi
charset-normalizer
clarabel
contourpy
cryptography
cvxpy
cycler
ecos
fonttools==4.25.0
frozendict
html5lib
idna
importlib-resources
joblib
kiwisolver
lxml
matplotlib
mkl-fft
mkl-random
mkl-service==2.4.0
multitasking
munkres==1.1.4
numexpr
numpy
osqp
packaging
pandas
pandas-datareader
pandas-ta==0.3.14b0
patsy==0.5.3
peewee
Pillow
ply==3.11
pybind11==2.11.1
pycparser
pyOpenSSL
pyparsing
pyportfolioopt==1.5.5
PyQt5==5.15.10
PyQt5-sip
PySocks
python-dateutil
pytz
qdldl
requests
scikit-learn
scipy==1.11.4
scs
sip
six
soupsieve
statsmodels
threadpoolctl
tomli
tornado
tzdata
urllib3
webencodings==0.5.1
win-inet-pton
yfinance
zipp
