# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# environemnt variables
venv/
env/
.venv/
*.env
.env.local
.secret
.vscode/
config.ini

# log files
*.log
*.cache
*.bak

# Tmp files
*.tmp
*.swp
*.swo

# Database Files
*.db
*.sql
*.sqlite

# Installer logs
.Python
build/
dist/
downloads/
lib/
lib64/
parts/
sdist/
var/
wheels/
.installed.cfg
*.egg
.develop
.installed.cfg
build/
dist/
*.egg-info/
.eggs/
pip-log.txt

